@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



.app-navbar {
  display: flex;
  &__item {
    justify-content: flex-end;
    padding: 0 20px;
    justify-content: flex-end;
  }
}


.initial-screen {
  align-items: center;
  &__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
  }
  &__data-form {
    justify-content: center;
    margin: 40px;
    display: flex;
    .input {
      margin: 10px;
      width: 180px;
    }
    .button {
      margin-top: 10px;
    }
  }
}

.estimate-page {
  align-items: center;
  &__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
  }
  &__data-form {
    justify-content: center;
    margin: 40px;
    display: flex;
    .input {
      margin: 10px;
      width: 180px;
    }
    .button {
      margin-top: 10px;
    }
  }
}

.schedule-page {
  align-items: center;
  &__title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
  }

  .dayTable {
    margin: auto;
    min-width: 1000px;

    &__form {
      background-color: white;
      border: 1px solid #ddd;
      padding: 8px;
    }

    &__buttonCell {
      border: none;
    }

    thead {
      background-color: #4288f7;
      tr {
          th {
            border: 1px solid #ddd;
            padding: 8px;
          }
        }
      }
      tbody {
        tr {
          &:nth-child(even) {
            background-color: aqua;
          }
          td {
            border: 1px solid #ddd;
            padding: 8px;
          }
        }
      }
      tfoot {
        tr {
          td {
            border: 1px solid #ddd;
            padding: 8px;
          }
        }
      }
    }
}




.site-header {
  display: flex;
  flex-flow: column;
  min-height: 25vh;
  background-color: #3252E5;
  align-items: center;
  padding: 0 130px;
  padding-top: 10vh;
  border-style: hidden;
  border-radius: 10px;

  &__title {
    padding: 0;
    margin: 0;
    font-weight: 900;
    padding-bottom: 15px;
  }

  &__subtitle {
    padding: 0;
    margin: 0;
    font-weight: 900;
  }
}

.mechanism-screen {
  align-items: center;
  &__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
  }
  &__data-form {
    justify-content: center;
    margin: 40px;
    display: flex;
    .input {
      margin: 10px;
      width: 180px;
    }

    .button {
      margin-top: 10px;
    }
  }
}

.request-screen {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
.mechanism-request-screen {
  width: 30%;
  &__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
  }
  &__data-form {
    justify-content: center;
    margin: 40px;
    .input {
      margin: 10px;
      width: 180px;
    }
    .textarea {
     width: 180px;
    }
    .button {
      margin-top: 10px;
    }
  }
}

.material-request-screen {
  width: 30%;
  &__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
  }
  &__data-form {
    justify-content: center;
    margin: 40px;
    .input {
      margin: 10px;
      width: 180px;
    }
    .textarea {
      width: 180px;
    }
    .button {
      margin-top: 10px;
    }
  }
}

.notes-screen {
  width: 30%;
  &__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
  }
  &__data-form {
    justify-content: center;
    margin: 40px;
    .input {
      margin: 10px;
      width: 180px;
    }
    .textarea {
      width: 180px;
    }
    .button {
      margin-top: 10px;
    }
  }
  }
}




    .payment-screen {
      margin: auto;
      align-content: center;
      max-width: 1300px;
      &__data-fields {
        margin: auto;
        max-width: 350px;
      }
      &__month-title {
        margin-top: 20px;
        text-align: center;
      }
      button {
        margin: 10px 0 10px 0 ;
      }
    }



.payment-forms {
  display: flex;
  max-width: 1500px;
  margin: auto;
  .payment-initial-data {
    select {
      height: 36px;
      border-radius: 5px;
      background-color: white;
      border-color: #dbdbdb;
      color: #363636;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    }
    input {
      width: 60px;
    }
  }
  .payment-calculation {
    input {
      width: 36px;
    }
  }
}


.sites {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  .site {
    flex: 0 0 25%;
    padding: 0 20px;
    max-width: 25%;
    margin-bottom: 20px;
    position: relative;
    button {
      margin: 10px;
      min-width: 200px;
    }
  }
}





.styled-table {
  margin: auto;
  min-width: 90%;
  thead {
    background-color: #4288f7;
    tr {
        th {
          border: 1px solid #ddd;
          padding: 8px;
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: aqua;
        }
        td {
          border: 1px solid #ddd;
          padding: 8px;
        }
      }
    }
    tfoot {
      tr {
        td {
          border: 1px solid #ddd;
          padding: 8px;
        }
      }
    }
  }







