@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.app-navbar {
  display: flex; }
  .app-navbar__item {
    justify-content: flex-end;
    padding: 0 20px;
    justify-content: flex-end; }

.initial-screen {
  align-items: center; }
  .initial-screen__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center; }
  .initial-screen__data-form {
    justify-content: center;
    margin: 40px;
    display: flex; }
    .initial-screen__data-form .input {
      margin: 10px;
      width: 180px; }
    .initial-screen__data-form .button {
      margin-top: 10px; }

.estimate-page {
  align-items: center; }
  .estimate-page__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center; }
  .estimate-page__data-form {
    justify-content: center;
    margin: 40px;
    display: flex; }
    .estimate-page__data-form .input {
      margin: 10px;
      width: 180px; }
    .estimate-page__data-form .button {
      margin-top: 10px; }

.site-header {
  display: flex;
  flex-flow: column;
  min-height: 35vh;
  background-color: #3252E5;
  align-items: center;
  padding: 0 130px;
  padding-top: 10vh; }
  .site-header__title {
    padding: 0;
    margin: 0;
    font-weight: 900;
    padding-bottom: 15px; }
  .site-header__subtitle {
    padding: 0;
    margin: 0;
    font-weight: 900; }

.mechanism-screen {
  align-items: center; }
  .mechanism-screen__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center; }
  .mechanism-screen__data-form {
    justify-content: center;
    margin: 40px;
    display: flex; }
    .mechanism-screen__data-form .input {
      margin: 10px;
      width: 180px; }
    .mechanism-screen__data-form .button {
      margin-top: 10px; }

.mechanism-request-screen {
  max-width: 500px;
  align-items: center; }
  .mechanism-request-screen__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center; }
  .mechanism-request-screen__data-form {
    justify-content: center;
    margin: 40px; }
    .mechanism-request-screen__data-form .input {
      margin: 10px;
      width: 180px; }
    .mechanism-request-screen__data-form .button {
      margin-top: 10px; }

.material-request-screen {
  max-width: 500px;
  align-items: center; }
  .material-request-screen__title {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center; }
  .material-request-screen__data-form {
    justify-content: center;
    margin: 40px; }
    .material-request-screen__data-form .input {
      margin: 10px;
      width: 180px; }
    .material-request-screen__data-form .button {
      margin-top: 10px; }

.request-screen {
  display: flex; }

table {
  margin: 40px;
  border: solid 1px black; }
  table thead tr, table tbody tr, table tfoot tr {
    border: solid 1px black; }
    table thead tr th, table tbody tr th, table tfoot tr th {
      min-width: 100px;
      border: solid 1px black; }
  table .noteCell {
    max-width: 200px; }
